<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div #wateringButton class="ml-5 mr-5 " *ngFor="let plant of data; let i = index;">
  <div class="row mt-5">
    <div style="border: solid;" class="col">
      <img *ngIf="wateringNow[i]" src="../assets/images/plantwatering.PNG" height="120" width="100" alt="">
      <img *ngIf="!wateringNow[i] "src="../assets/images/plant1.jpg" height="120" width="100" alt="">
    </div>
    <div style="border: solid;" class="col">
      <div *ngIf="!wateringNow[i]"> 
        <button id="bt-{{i}}" class="btn btn-secondary mt-3" (click)="onWateringStatusChanged(i)" [disabled]="buttonDisableTimer[i] == true" >start watering</button>
        <div *ngIf="buttonDisableTimer[i]">
          <p>Button is disabled for 30 sec as you just watered</p>
        </div>
      </div>

      <div *ngIf="wateringNow[i]" class="row mt-3">
        <div class="col">
          <button id="bt-{{i}}" class="btn btn-secondary" (click)="onWateringStatusChanged(i)">stop watering</button>
        </div>
        <div class="col">
          <p class="counterStyle">CountDown : {{timer[i]}}</p>
        </div>
      </div>
      
    </div>
    <div style="border: solid;" class="col">
      {{plant.plantName}}: 
      <div *ngIf="plantWateringStatusTracker[i]">
        Need Watering
      </div> 
      <div *ngIf="!plantWateringStatusTracker[i]">
        Already Watered
      </div>  
    </div>
  </div>
</div>


<router-outlet></router-outlet>
