 <!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>  -->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div #wateringButton class="ml-5 mr-5 " *ngFor="let plant of plants; let i = index;">
  <div class="row mt-5">
    <div style="border: solid;" class="col">
      <img *ngIf="wateringNow[i]" src="../assets/images/plantwatering.PNG" height="120" width="100" alt="">
      <img *ngIf="!wateringNow[i] "src="../assets/images/plant1.jpg" height="120" width="100" alt="">
    </div>
    <div style="border: solid;" class="col">
      <div *ngIf="!wateringNow[i]"> 
        <button id="bt-{{i}}" class="btn btn-secondary mt-3" (click)="onWateringStatusChanged(i)" [disabled]="buttonDisableTimer[i] == true" >start watering</button>
      </div>

      <div *ngIf="wateringNow[i]" class="row mt-3">
        <div class="col">
          <button id="bt-{{i}}" class="btn btn-secondary" (click)="onWateringStatusChanged(i)">stop watering</button>
        </div>
        <div class="col">
          <p class="counterStyle">CountDown : {{timer[i]}}</p>
        </div>
      </div>
      
    </div>
    <div style="border: solid;" class="col">
      Test
    </div>
  </div>
</div>
<!-- <div class="row mt-5">
  
  <div style="border: solid;"  class="col">
    <img src="../assets/images/plant1.jpg" height="120" width="100" alt="">
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
</div>
<div class="row mt-5">
  
  <div style="border: solid;"  class="col">
    <img src="../assets/images/plant1.jpg" height="120" width="100" alt="">
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
</div>
<div class="row mt-5">
  
  <div style="border: solid;"  class="col">
    <img src="../assets/images/plant1.jpg" height="120" width="100" alt="">
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
  <div style="border: solid;"  class="col">
    Test
  </div>
</div> -->


<router-outlet></router-outlet>
